@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body {
    background-image: url("backgroundKitty.jpeg");
    background-size: cover;
   
    font-family:'Kablammo', cursive;
    font-weight: bold;
    text-align: center;
     height: 100vh;
}
.container {
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3c4245;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
     font-family: 'Kablammo', cursive;
}

#increment-btn {
    background: #c7b198;
}

#save-btn {
    background: #c7b198;
}

.container {
    max-width: 300px;     
    margin: 50px auto;   
    padding: 20px; 
    border-radius: 10px; 
}